/* Common */

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

.section-title-color {
    color: #fd9222;
}

.container {
    max-width: 1166px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Reset */

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
    font-style: normal;
}

image {
    display: block;
}

/* Header */

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}

.header-logo-italic {
    font-style: italic;
}

.header-navbar-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 90px;
    justify-content: space-between;
}

.header-navbar {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-social-list {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-social-link {
    padding-top: 24px;
    padding-bottom: 32px;
}

/* Hero */

.hero-section {
    padding-bottom: 72px;
}

.hero-container {
    background-color: grey;
    padding: 380px 40px 40px;
    border-radius: 30px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-btns {
    display: flex;
    align-items: center;
}

.hero-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 100px;
    padding: 14px 40px;
    height: 45px;
    background-color: #fd9222;
    border: none;
    margin-right: 16px;
}

.made-anchor {
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.scroll-anchor {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
    margin-left: auto;
}

/* Benefits */

.benefits-section {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.benefits-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.benefits-item {
    flex-basis: calc((100% - 88px * 2) / 3);
}

.benefits-list h3 {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-list p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* Ingredients */

.ingredients-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section-title-width {
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.ingredients-section-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ingredients-item-caption {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.ingredients-list {
    display: flex;
    gap: 19px;
}

.ingredients-item {
    padding: 28px 36px 28px 28px;
    border-radius: 15px;
    flex-basis: calc((100% - 57px) / 4);
}

.ingredients-item-caption {
    margin-top: 36px;
}

.orange-bg-card {
    background: #fd9222;
}

.white-bg-card {
    background-color: #fff;
    border: 1px solid #fd9222;
}

.dark-bg-card {
    background-color: #1e1823;
}

.dark-color-text {
    color: #111;
}

/* Made */

.made-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.made-flex {
    display: flex;
    gap: 20px;
}

.made-title {
    margin-bottom: 50px;
}

.made-list-flex {
    border-radius: 15px;
    background-color: #fff;
    padding: 32px;
}

.made-section h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    margin-bottom: 28px;
    max-width: 350px;
}

.made-section-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
    max-width: 425px;
}

.made-section-item:not(:last-child) {
    margin-bottom: 24px;
}

/* Reviews */

.reviews-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.review-title {
    margin-bottom: 50px;
}

.reviews-list {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 28px;
}

.reviews-item {
    flex-basis: calc((100% - 56px) / 3);
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: #fff;
}

.reviews-list h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
    margin-top: 18px;
}

.reviews-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    padding: 24px;
}

.review-button {
    font-weight: 600;
    font-size: 18px;
    color: #111;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    background-color: #fafafa;
    display: block;
    margin: 0 auto;
}

/* Footer */

.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-flex {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 24px;
}

.footer-bold-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 300px;
}

.contact-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #fff;
    margin-bottom: 14px;
}

.footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    /* padding: 24px 0; */
}

.footer-subscibe-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.footer-accent-color {
    color: #fd9222;
}

.contacts {
    margin-left: auto;
}

.contact-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fff;
    margin-left: auto;
}

.contact-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-navbar-flex {
    display: flex;
    align-items: center;
}

.footer-list {
    display: flex;
    gap: 24px;
    padding: 18px 0;
}

.footer-subscibe-button {
    margin-left: auto;
    border-radius: 100px;
    padding: 17px 40px;
    min-width: 137px;
    height: 52px;
    background-color: #fd9222;
    border: none;
}
