/* Common */

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

.section-title-color {
    color: #fd9222;
}

.container {
    max-width: 1166px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Reset */

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

button {
    font-family: inherit;
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 90px;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    display: flex;
    align-items: center;
}

.logo-icon {
    text-align: center;
}

.header-logo-italic {
    font-style: italic;
}

.header-navbar-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.header-social-list {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-social-icon {
    fill: transparent;
    stroke: #111;
    stroke-width: 2px;
}

/* Hero */

.hero-section {
    padding-bottom: 72px;
}

.hero-container {
    padding: 380px 40px 40px;
    border-radius: 30px;

    background-image: linear-gradient(
            180deg,
            rgba(17, 17, 17, 0.4) 0%,
            rgba(17, 17, 17, 0.4) 100%
        ),
        url(../images/img-chocolate-covered-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-btns {
    display: flex;
    align-items: center;
}

.hero-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border-radius: 100px;
    padding: 14px 40px;
    height: 45px;
    background-color: #fd9222;
    border: none;
    margin-right: 16px;
}

.made-anchor {
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.scroll-anchor {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
    margin-left: auto;
}

/* Benefits */

.benefits-section {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.benefits-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.benefits-item {
    flex-basis: calc((100% - 88px * 2) / 3);
}

.benefits-list h3 {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-list p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.icon-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 22px;
}

/* Ingredients */

.ingredients-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.section-title-width {
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.ingredients-section-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ingredients-item-caption {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.ingredients-list {
    display: flex;
    gap: 19px;
}

.ingredients-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    flex-basis: calc((100% - 57px) / 4);
    padding: 28px 36px 28px 28px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;

    overflow-y: auto;

    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;

    transform: translateY(100%);

    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}

.ingredients-item:hover .card-overlay,
.ingredients-item:focus .card-overlay {
    transform: translateY(0%);
}

.thumb-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 8px;
}

.thumb-btn {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    line-height: 1.2;

    border-radius: 35px;
    border: none;
    padding: 6px 16px;

    text-transform: lowercase;
    display: inline-block;
}

.thumb-btn.colored {
    background-color: #fd9222;
    color: #fff;
    text-transform: lowercase;
    margin-right: 6px;
}

.thumb-btn.transparent {
    background-color: #fafafa;
    color: #111;
    border: 1px solid #fd9222;
}

.thumb-text {
    margin-top: 14px;
    font-size: 14px;
    line-height: 18px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
}

.ingredients-item-caption {
    margin-top: 36px;
}

.orange-bg-card {
    background: #fd9222;
}

.white-bg-card {
    background-color: #fff;
    border: 1px solid #fd9222;
}

.dark-bg-card {
    background-color: #1e1823;
}

.dark-color-text {
    color: #111;
}

/* Made */

.made-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.made-flex {
    display: flex;
    gap: 20px;
}

.made-title {
    margin-bottom: 50px;
}

.made-list-flex {
    border-radius: 15px;
    background-color: #fff;
    padding: 32px;
}

.made-section h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    margin-bottom: 28px;
    max-width: 350px;
}

.made-section-item {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
    max-width: 425px;
    padding-left: 16px;
}

.made-section-item:not(:last-child) {
    margin-bottom: 24px;
}

.made-section-item::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #4c4c4c;
    border: 1px solid #eceded;
    display: flex;
    flex-shrink: 0;

    position: absolute;
    top: 0;
    left: 0;
}

/* Reviews */

.reviews-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.review-title {
    margin-bottom: 50px;
}

.reviews-list {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 28px;
}

.reviews-item {
    position: relative;
    flex-basis: calc((100% - 56px) / 3);
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: #fff;

    padding-top: 56px;
    height: 200px;
}

.img-wrapper {
    position: absolute;
    right: 140px;
    top: -38px;
}

.img-wrapper > img {
    border-radius: 50%;
}

.reviews-list h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
}

.reviews-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    padding: 24px;
}

.review-button {
    font-weight: 600;
    font-size: 18px;
    color: #111;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    background-color: #fafafa;
    display: block;
    margin: 0 auto;
}

/* Footer */

.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-flex {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 24px;
}

.footer-bold-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 300px;
}

.contact-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #fff;
    margin-bottom: 14px;
}

.footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
    /* padding: 24px 0; */
}

.footer-subscibe-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.footer-accent-color {
    color: #fd9222;
}

.contacts {
    margin-left: auto;
}

.contact-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fff;
    margin-left: auto;
}

.contact-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-navbar-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    gap: 24px;
    padding: 18px 0;
}

.footer-subscibe-button {
    margin-left: auto;
    border-radius: 100px;
    padding: 17px 40px;
    min-width: 137px;
    height: 52px;
    background-color: #fd9222;
    border: none;
}

/* Footer subscribe form */

.footer-input {
    background-color: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
    width: 313px;
    height: 52px;
    outline: none;
    margin-right: 8px;
    color: #fff;
}

.footer-input::placeholder {
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
}
